{% extends 'mobile/base.html'%}
{% block main_body %}
<!--头部-->
	<header>
		<div class="header">
			<h1>登录</h1>
			<a href="#" class="return"><i></i></a>
		</div>
	</header>

	<!--内容区-->
	<article class="main-container loginContent">
		<form action="{% url 'mobile_dologin'%}" method="post">
			{% csrf_token %}
			<div class="list">
				<ul class="line">
					<li><i class="icon-head"></i><input type="text" name="mobile"  placeholder="手机号码"></li>
					<li><i class="icon-pwd"></i><input type="password" name="password" placeholder="密码"></li>
					<li class="code"><i class="icon-sms"></i><input name="code" type="tel" id="code" placeholder="手机收到的校验码"><button>点击获取</button></li>
					<li><img src="{% url 'web_verify' %}"  /></li>
				</ul>
			</div>
			<div class="button"><button type="submit">快速登录</button></div>
		</form>
		<div class="button"><button onclick="location.href='{% url 'mobile_register'%}'" style="color:black;background-color:red;margin-top:10px">快速注册</button></div>
		<div style="text-align:center;padding:10px;color: #f00;">{{info}}</div>
		测试输入图形验证码即可

	</article>
{% endblock %}

{% block myjavascript %}
$("button:contains('点击获取')").click(function(){
		bt = $(this);
		if(bt.html() != "点击获取"){
			return;
		}
		var phone = $("#name").val();
		//$.get();
		bt = $(this);
		var t=60;
		bt.html(t+"秒")
		var mytime = setInterval(function(){
			t= t-1;
			bt.html(t+"秒")
			if(t <= 0){
				clearInterval(mytime)
				bt.html("点击获取");
			}
		},1000);

	});
{% endblock %}